@model IEnumerable<BlogPageMvc.Models.Controller.ControllerVM>

@{
    ViewData["Title"] = "GetAllController";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">

    <h1>GetAllController</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ControllerName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ControllerName)
                    </td>
                    <td>
                        @Html.ActionLink("UpdateController", "UpdateController", new { controllername = item.ControllerName }) |
                        @Html.ActionLink("Details", "ControllerDetail", new {  id=item.Id   }) |
                        @Html.ActionLink("DeleteController", "DeleteController", new { controllername = item.ControllerName })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

