@model IEnumerable<BlogPageMvc.Models.Role.RoleVM>

@{
    ViewData["Title"] = "GetAllRoles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h1>GetAllRoles</h1>

    <p>
        <a asp-action="AddRole">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "UpdateRole", new {  id=item.Id  }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "DeleteRole", new {  id=item.Id  })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

